body{

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

font-family:Segoe UI;

min-height:100vh;

}

.overlay{

min-height:100vh;

display:flex;

align-items:center;

}

.card{

border-radius:20px;

border:none;

}

textarea{

resize:none;

font-size:17px;

}

.btn{

border-radius:10px;

}

.progress{

height:30px;

border-radius:20px;

}

.progress-bar{

font-size:15px;

font-weight:bold;

}

h1{

font-weight:bold;

color:#1d3557;

}

.badge{

border-radius:15px;

}

.card-body{

padding:40px;

}